"$schema" = 'https://starship.rs/config-schema.json'

format = """
$directory\
$git_branch\
$git_commit\
$git_state\
$git_status\
$git_metrics\
$docker_context\
$character"""

[line_break]
disabled = true

[docker_context]
detect_files = [
  'compose.yaml',
  'compose.yml',
  'docker-compose.yml',
  'docker-compose.yaml',
  'Dockerfile',
]

[directory]
style = "blue"

[git_branch]
style = "green"

[git_status]
style = "yellow"

[git_state]
style = "red"
