@import "latte.css";

* {
  font-family: "Iosevka Aile", "JetBrains Mono", "Symbols Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-color: @crust;
  border-top: 2px solid @peach;
}

#workspaces button,
#pulseaudio,
#bluetooth,
#cpu,
#memory,
#bluetooth,
#mpris,
#battery,
#tray,
#clock {
  margin-top: 2px;
  padding: 0px 8px;
  border-radius: 0px 0px 4px 4px;
  color: @red;
}

#clock {
  color: @peach;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
}

#workspaces button {
  margin: 2px;
  color: @text;
  background-color: @base;
  padding: 0px 8px;
  border: 0px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @crust;
  font-weight: bold;
  background: @peach;
  padding: 0 8;
  transition: all 0.3s ease-in-out;
}


#workspaces button.empty {
  color: @surface1;
}

#workspaces button:hover {
  color: @crust;
  background: @flamingo;
  border: 0px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 0px;
  background-color: @base;
  padding: 16px;
  margin:0px;
}

tooltip label {
    color: @text;
}

#bluetooth.disabled {
  color: @red;
}

#bluetooth.off {
  color: @red;
}

#bluetooth.on {
  color: @lavender;
}

#bluetooth.connected {
  color: @blue;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    color: @mauve;
}

#pulseaudio.muted {
    color: @maroon;
}

#pulseaudio.microphone {
  color: @teal;
}

#pulseaudio.microphone.source-muted {
  color: @maroon;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    color: @text;
}

#battery.charging, #battery.plugged {
    color: @green;
}

@keyframes blink {
    to {
        background-color: @base;
        color: @red;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

#cpu {
  color: @flamingo;
}

#memory {
  color: @rosewater;
}
