@import "latte.css";

* {
  font-family: "Monaspace Xenon", "JetBrains Mono", "Symbols Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-color: @surface0;
  border-top: 1px solid @teal;
}

#workspaces button,
#pulseaudio,
#network,
#cpu,
#memory,
#bluetooth,
#battery,
#tray,
#custom-exit,
#clock {
  margin: 1px 2px 0px 2px;
  padding: 0px 16px;
  border-radius: 0px;
  color: @text;
  background-color: @crust;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
  margin: 1px 0px 0px 0px;
}

#workspaces button {
  color: @text;
  margin: 0 2px;
  padding: 0px 8px;
  border-radius: 0px;
  border: 0px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @crust;
  font-weight: bold;
  background: @teal;
  padding: 0 8;
  min-width: 40px;
  transition: all 0.3s ease-in-out;
}


#workspaces button.empty {
  color: @overlay0;
}

#workspaces button:hover {
  color: @blue;
  background: @surface2;
  border: 0px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 0px;
  background-color: @mantle;
  padding: 16px;
  margin:0px;
}

tooltip label {
    color: @text;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
}

#pulseaudio.muted {
    color: @peach;
}
/* -----------------------------------------------------
 * Network
 * ----------------------------------------------------- */

#network {
}

#network.ethernet {
    color: @blue;
}

#network.wifi {
    color: @sapphire;
}
/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    color: @yellow;
}

#battery.charging, #battery.plugged {
    color: @teal;
}

@keyframes blink {
    to {
        background-color: @crust;
        color: @red;
    }
}

#battery.critical:not(.charging) {
    background-color: @red;
    color: @crust;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
