@import "rose-pine-moon.css";

* {
  font-family: "IBM Plex Mono", "JetBrains Mono", "Symbols Nerd Font", FontAwesome, Roboto, Helvetica, Arial, sans-serif;
  font-size: 18px;
  border: none;
  border-radius: 0px;
}

window#waybar {
  background-color: @surface;
  border-top: 2px solid @pine;
}

#workspaces button,
#pulseaudio,
#bluetooth,
#cpu,
#memory,
#bluetooth,
#mpris,
#battery,
#tray,
#clock {
  margin-top: 2px;
  padding: 0px 8px;
  border-radius: 0px 0px 4px 4px;
  color: @text;
}

#clock {
  color: @rose;
}

/* -----------------------------------------------------
 * Workspaces 
 * ----------------------------------------------------- */

#workspaces {
}

#workspaces button {
  margin: 2px;
  color: @text;
  background-color: @highlightHigh;
  padding: 0px 8px;
  border: 0px;
  transition: all 0.3s ease-in-out;
}

#workspaces button.active {
  color: @surface;
  font-weight: bold;
  background: @pine;
  padding: 0 8;
  transition: all 0.3s ease-in-out;
}


#workspaces button.empty {
  color: @muted
}

#workspaces button:hover {
  color: @surface;
  background: @foam;
  border: 0px;
}

/* -----------------------------------------------------
 * Tooltips
 * ----------------------------------------------------- */

tooltip {
  border-radius: 0px;
  background-color: @base;
  padding: 16px;
  margin:0px;
}

tooltip label {
    color: @text;
}

#bluetooth.disabled {
  color: @love;
}

#bluetooth.off {
  color: @love;
}

#bluetooth.on {
  color: @gold;
}

#bluetooth.connected {
  color: @pine;
}

/* -----------------------------------------------------
 * Pulseaudio
 * ----------------------------------------------------- */

#pulseaudio {
    color: @iris;
}

#pulseaudio.muted {
    color: @love;
}

#pulseaudio.microphone {
  color: @foam;
}

#pulseaudio.microphone.source-muted {
  color: @love;
}

/* -----------------------------------------------------
 * MPRIS
 * ----------------------------------------------------- */

#mpris.paused {
  color: @love;
}
#mpris.playing {
  color: @pine;
}
#mpris.mpd {
  color: @text;
}
#mpris.mpv {
  color: @text;
}
#mpris.brave {
  color: @gold;
}

/* -----------------------------------------------------
 * Battery
 * ----------------------------------------------------- */

#battery {
    color: @text;
}

#battery.charging, #battery.plugged {
    color: @text;
}

@keyframes blink {
    to {
        background-color: @base;
        color: @love;
    }
}

#battery.critical:not(.charging) {
    background-color: @rose;
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}
